.document { margin: 40px 0px 40px 0px; border: 1px solid rgb(139, 139, 139); box-sizing: border-box;}
.document .document_tit { padding: 20px; border-bottom: 1px solid rgb(139, 139, 139); box-sizing: border-box; }
.document .document_title { display: inline-block; font-size: 24px; font-weight: bold; }
.document .document_tc { display: inline-block; opacity: 0.5; }
.document .document_category { display: inline-block; font-size: 12px; font-weight: bold; opacity: 0.7; }
.document .document_text { display: inline-block; padding: 40px 40px 20px 40px; }
.document .document_time { display: inline-block; padding-top: 10px; float: right; font-size: 12px; }
.document .document_history { padding: 5px; font-size: 12px; }
.document .document_url { float:right; padding: 5px; font-size: 12px; }
.document .document_url:hover { cursor: pointer; opacity: 0.7; }
.document .url { position: absolute; top: 0; left: 0; width: 1px; height: 1px; margin: 0; padding: 0; border: 0; }
.document .copy_btn { border:1px solid gray; border-radius:3px; padding:0px 2px 1px 2px; color:white; background-color:gray;	 }

.search { float: left; }
.search > input { all: unset; margin-left: 10px; border-bottom: 1px solid rgb(139, 139, 139); box-sizing: border-box; }
.icon { width: 24px; height: 24px; }
.cancel { cursor: pointer; }
.cancel:hover { opacity: 0.5; }
.category a { color: black; }
.category { overflow: auto; }
.category_all { font-size: 18px; }
.category_directory { margin-left: 20px; }
.category_directory:hover { transform: translateX(10px); transition: 0.3s; }
.category_directory a:hover { font-weight: bold; color: #3c72c4139139139; }
.category_directory_mark { font-size: 18px; }
.category_count { font-size: 12px; opacity: 0.5; }
.category a:hover { text-decoration: none; }

.cate_btn {
	z-index: 100;
	cursor: pointer;
	width: 100px;
	height: 50px;
	padding: 10px 0 10px 0;
	color: white; background-color: black;
	font-weight: bold;
	text-align: center;
	border: 1px solid rgb(139, 139, 139);
	box-sizing: border-box;
	position: fixed;
	top: 20px;
	right: 20px;
}

.category {
	padding: 10px;
	z-index: 200;
	width: 300px;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX(300px);
	transition: 0.3s;
	background-color: white;
	border-left: 1px solid rgb(139, 139, 139);
	box-sizing: border-box;
}

.document_pop_label { width: 100%; height: 100%; }
.document_pop_label:hover { cursor: pointer; }
.document_pop { display: none; z-index: 50; position: fixed; top: 0; width: 100%; height: 100vh; background-color: black; opacity: 0.3; }
#category:checked~.document_pop { display: block;}
#category:checked~.category {
	display: block;
	transform: translateX(0px);
	transition: 0.3s;
}