@charset "UTF-8";

#write .title { padding: 20px; }
#write #title { all: unset; width: 50%; border-bottom: 1px solid black; margin-right: 40px; }
#write #category { all: unset; border-bottom: 1px solid black; width: 20%; }
#write .title_name, .category_name { display: inline-block; padding: 5px; border: 1px solid black; box-sizing: border-box; font-size: 14px; font-weight: bold; background-color: black; color: white; }
#write .files { padding: 10px; }